@import '~@csstools/normalize.css';

@font-face {
  font-family: "ProximaNovaBold";
  src: url("./assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNovaExtrabold";
  src: url("./assets/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: bold;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: #e8ebf6;
}

